@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">"Transistor Shanty" App</h1>
    <br />
    <div>
        <a asp-controller="Laptop" asp-action="Index">Laptops List</a> |
        <a asp-controller="Brand" asp-action="Index">Brands List</a> 
    </div>

</div>
